import { Route, Routes } from 'react-router-dom';
import { AppLayout } from '../components';

export function AppRouter() {
  return (
    <Routes>
      <Route path="/" element={<AppLayout />}>
        <Route path="/page1" element={<div>page1</div>} />
        <Route path="/page2" element={<div>page2</div>} />
        <Route path="/page3" element={<div>page3</div>} />
      </Route>
    </Routes>
  );
}
